.DS_Store
*.sublime-workspace

# autotools outputs
.deps
ABOUT-NLS
aclocal.m4
autom4te.cache
check-coverage
check-style
config.h
config.h.in~
config.log
config.status
configure
configure.ac~
Doxyfile
libtool
Makefile
Makefile.in
sauce-*
sauce.pc
stamp-h*

# Build intermediates
*.gcda
*.gcno
*.gcov
*.la
*.lo
*.o
*.uncrustify
.dirstamp
.libs
ansi_compilation_test
ansi_compilation_test.log
ansi_compilation_test.trs
check-style.log
check-style.trs
test-suite.log
unittests
unittests.log
unittests.trs

# m4 stuff
codeset.m4
fcntl-o.m4
gettext.m4
glibc2.m4
glibc21.m4
iconv.m4
intdiv0.m4
intl.m4
intldir.m4
intlmacosx.m4
intmax.m4
inttypes-pri.m4
inttypes_h.m4
lcmessage.m4
lib-ld.m4
lib-link.m4
lib-prefix.m4
libtool.m4
lock.m4
longlong.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
nls.m4
po.m4
printf-posix.m4
progtest.m4
size_max.m4
stdint_h.m4
threadlib.m4
uintmax_t.m4
visibility.m4
wchar_t.m4
wint_t.m4
xsize.m4

# vendor
vendor/gmock-1.6.0/gtest/lib/
vendor/gmock-1.6.0/gtest/samples/sample10_unittest
vendor/gmock-1.6.0/gtest/samples/sample1_unittest
vendor/gmock-1.6.0/gtest/scripts/fuse_gtest_files.pyc
vendor/gmock-1.6.0/gtest/scripts/gtest-config
vendor/gmock-1.6.0/gtest/test/fused_gtest_test
vendor/gmock-1.6.0/gtest/test/gtest_all_test
vendor/gmock-1.6.0/lib/
vendor/gmock-1.6.0/scripts/gmock-config
vendor/gmock-1.6.0/test/gmock-spec-builders_test
vendor/gmock-1.6.0/test/gmock_fused_test
vendor/gmock-1.6.0/test/gmock_link_test

!vendor/uncrustify-0.59/Makefile.in
!vendor/uncrustify-0.59/aclocal.m4
!vendor/uncrustify-0.59/configure
!vendor/uncrustify-0.59/man/Makefile.in
!vendor/uncrustify-0.59/src/Makefile.in
vendor/uncrustify-0.59/man/uncrustify.1
vendor/uncrustify-0.59/src/uncrustify
vendor/uncrustify-0.59/src/uncrustify_version.h
